<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="次元机"
        android:theme="@style/Theme.CiYuanJi">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="次元机 LSPosed 模块" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
    </application>

</manifest>
